@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  /* Theme Colors - Change these to update application-wide colors */
  --dashboard-primary: #4051c0;
  /* Violet-500 */
  --dashboard-primary-hover: #7C3AED;
  --dashboard-secondary: #F8FAFC;
  /* Slate-50 background */
  --dashboard-text: #374151;
  /* Gray-700 */
  --dashboard-text-light: #6B7280;
  /* Gray-500 */

  /* Sidebar Specific Variables */
  --sidebar-active-bg: var(--dashboard-primary);
  --sidebar-active-text: #FFFFFF;
  --sidebar-inactive-text: #1F2937;
  /* Gray-800 */
  --sidebar-bg: #FFFFFF;
}

body {
  font-family: var(--font-sans);
  background-color: var(--dashboard-secondary);
  color: var(--dashboard-text);
  margin: 0;
  padding: 0;
}